<div class="presenter">
  {{#if abstract}}
    <em><p>{{ abstract }}</p></em>
    <br>
  {{/if}}
  {{#if title}}
  <h4>{{ name }}, {{ title }} @ <a href="{{ web }}" class ="link">{{ organisation }}</a><img src="{{ image }}" alt="{{ name }}" class="presenter-image"></h4>
  {{/if}}
  {{#if twitter}}
  <a href="https://twitter.com/{{ twitter }}" class="twitter"><img src="images/twitter.svg" alt="Twitter"></a>
  {{/if}}
  {{#if github}}
  <a href="https://github.com/{{ github }}" class="github"><img src="images/github.svg" alt="Github"></a>
  {{/if}}

  <div class="bio clearfix">
    <p>{{ blurb }}</p>
    
  </div>
</div>