<article class="clearfix type-{{ type }}">

  <div class="type"></div>
          
  <div class="time">
    {{ time.start }} - {{ time.end }}
  </div>

  <div class="content">
    
    <h3>{{#if panel}}Panel: {{/if}}{{ title }}</h3>

    {{#if blurb}}
      <p>{{ blurb }}</p>
    {{/if}}

    {{#if presenters}}

      <div class="presenters">
      
        {{#each presenters}}
          {{> presenter}}
        {{/each}}

      </div>

    {{/if}}

  </div>

</article>